<div class="d-flex flex-column align-items-center justify-content-center">
    <h1>New Ledger</h1>
    <div>
    <%= render partial: "shared/name_form" %>
    </div>

    <%= link_to "Back to Ledgers", root_path,class:"btn btn-primary" %>
</div>