<div class="d-flex flex-column align-items-center justify-content-center">
    <div>
        <h1 class>Welcome to Ecash</h1>
    </div>
    <div class="mb-30 text-center">
        <h5>Login or Sign-up to Continue</h5>
    </div>
</div>