/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.center-pos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.center-pos h1{
    margin-bottom: 50px;
}

.col{
    background-color:rgb(255, 0, 179);
    border: none;
    
}
.bc-1{
    background-color:rgb(96, 17, 148);
    border: none;
}
.bc-2{
    background-color:rgb(241, 141, 47);
    border: none;
}
.pad{
    padding-right: 65px;
}

.pad2{
    padding-left: 100px;
}
.wid-set{
    width: 233px;
}
.bc-4{
    background-color: rgb(7, 53, 150);
    border: none;
}

.bc-5{
    background-color: rgb(100, 2, 71);
    border: none;
}
.t-small{
    font-size: 14px;
}
.mb-30{
    margin-top: 130px;
}